.container{
  background-color: #f7f7f7;
  padding: 6rem 0 6rem 5rem;
}
.Image{
  width:55%;
  width: 55%;
}
.Paragraph{
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
  color: #cc1a32;
}
.Span{
font-family: "Poppins";
font-weight: 600;
font-size: 2.5rem;
}
.ShopButton{
  background-color: #cc1a32;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 0; 
  width: 30%;
  text-align: center;
}